body {
background-image: url("cloudy_atmosphere.jpg");
}

header {
    margin: 50px;
    background-color: orange;
    padding: 20px;
}

h1 {
    color: gold;
    text-align: center;
    font-size: 80px;
    font-family: verdana;
}

#light  { 
    color: rgb(255, 200, 200);
    margin-bottom: 40px;
   
}

section {
    margin: 50px;
    padding: 0;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
} 

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropbtn:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
    display: block;
}
     

