* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

.container {
    position: relative;
    margin: 0 auto;
}

.container img  {vertical-align: middle;}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgba(250, 220, 220, 0.6); 
    color: ﹟ba764c;
    width: 100%;
    padding: 20px;
} 

